{% extends 'main/layout.html'  %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'manager/floor_manager.css' %}">
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}

<h2 class="text-center m-3" id="main_title">{{hotel.name}} Room Types </h2>

<div class="d-flex  justify-content-center mb-5 px-3">
    
    {% if create %}
        <!-- Create Form -->
        
        <div class="container-sm bg-light p-2" style="border-right: 1px solid #888; width: 350px;">

                <div class="row mb-4">
                    <div class="col">
                        <h3>Bed</h3>
                        
                        {% include 'manager/input_beds.html' %}
                        
                        
                        <div class="row mb-4">
                            <div class="col">
                                <button class="btn btn-primary btn-block" id="add-bed-button">Add to Room List</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block" id="create-new-bed-btn">Create New Bed</button>
                            </div>
                        </div>
                        <div id="create-bed-form" style="display: none;">
                            <form action="{% url 'manager:create_bed' hotel.id%}">
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>Create Custom Bed</h3>
                                        {{ bed_form|crispy }}
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" 
                                                id="create-bed-btn" 
                                                hx-post="{% url 'manager:create_bed' hotel.id %}"
                                                hx-target="#create-bed-form-div"
                                                hx-trigger="click"
                                                hx-swap="outerHTML">
                                            Create Bed
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-block" id="cancel-bed-btn">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="my-3">
                            <table class="table" id="bed-table" style="display: none;">
                                <thead>
                                <tr>
                                    <th class="align-middle col-md-9" scope="col">Bed Type</th>
                                    <th class="align-middle text-center col-md-1" scope="col">Qty</th>
                                    <th class="align-middle text-center col-md-1" scope="col"></th>
                                    <th class="align-middle text-center col-md-1" scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <form id="create-form" action="{% url 'manager:room_types' hotel.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="bed-info" name="bed_info" value="">
                <div class="row mb-4">
                    <div class="col">
                        <h3>Room Type</h3>
                        {{room_type_form.title|as_crispy_field}}
                        {{room_type_form.description|as_crispy_field}}
                        {{room_type_form.room_size|as_crispy_field}}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <h3>Features</h3>
                        <div class="row">
                            <div class="col">
                                {{room_type_form.has_air_con|as_crispy_field}}
                            </div>
                            <div class="col">
                                    {{room_type_form.has_wifi|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    {{room_type_form.has_tv|as_crispy_field}}
                            </div>
                            <div class="col">
                                    {{room_type_form.has_fridge|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    {{room_type_form.has_hot_water|as_crispy_field}}
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Submit Room Type" class="btn btn-primary btn-block" >
                    </div>
                </div>
            </form>
            
        </div>
    {% else %}
        <!-- Update Form -->
        
        <div class="container-sm bg-light p-2" style="border-right: 1px solid #888; width: 350px;">
                <div class="row mb-4">
                    <div class="col">
                        <h3>Bed</h3>
                        {% include 'manager/input_beds.html' %}
                        <div class="row mb-4">
                            <div class="col">
                                <button class="btn btn-primary btn-block" id="add-bed-button">Add to Room List</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary btn-block" id="create-new-bed-btn">Create New Bed</button>
                            </div>
                        </div>
                        <div id="create-bed-form" style="display: none;">
                            <form action="{% url 'manager:create_bed' hotel.id%}">
                                <div class="row mb-4">
                                    <div class="col">
                                        <h3>Create Custom Bed</h3>
                                        {{ bed_form|crispy }}
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block" 
                                                id="create-bed-btn" 
                                                hx-post="{% url 'manager:create_bed' hotel.id %}"
                                                hx-target="#create-bed-form-div"
                                                hx-trigger="click"
                                                hx-swap="outerHTML">
                                            Create Bed
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-block" id="cancel-bed-btn">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="my-3">
                            <table class="table" id="bed-table" style="display: block;">
                                <thead>
                                <tr>
                                    <th class="align-middle col-md-9" scope="col">Bed Type</th>
                                    <th class="align-middle text-center col-md-1" scope="col">Qty</th>
                                    <th class="align-middle text-center col-md-1" scope="col"></th>
                                    <th class="align-middle text-center col-md-1" scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for room_bed in room_beds %}
                                        <tr id="row{{room_bed.bed.id}}" class="data-rows" data-bed-id="{{room_bed.bed.id}}">
                                            <td>{{room_bed.bed}}</td>
                                            <td>{{room_bed.quantity}}</td>
                                            <td><i id="minus2" data-bed-id="{{room_bed.bed.id}}" class="bi bi-dash-circle bed-minus"></i></td>
                                            <td><i id="plus2" data-bed-id="{{room_bed.bed.id}}" class="bi bi-plus-circle bed-plus"></i></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <form id="create-form" action="{% url 'manager:room_types_edit' hotel.id room_type.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="bed-info" name="bed_info" value="">
                <div class="row mb-4">
                    <div class="col">
                        <h3>Room Type</h3>
                        {{room_type_form.title|as_crispy_field}}
                        {{room_type_form.description|as_crispy_field}}
                        {{room_type_form.room_size|as_crispy_field}}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <h3>Features</h3>
                        <div class="row">
                            <div class="col">
                                {{room_type_form.has_air_con|as_crispy_field}}
                            </div>
                            <div class="col">
                                    {{room_type_form.has_wifi|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    {{room_type_form.has_tv|as_crispy_field}}
                            </div>
                            <div class="col">
                                    {{room_type_form.has_fridge|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    {{room_type_form.has_hot_water|as_crispy_field}}
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Update Room Type" class="btn btn-primary btn-block" >
                    </div>
                </div>
            </form>
            
        </div>
    {% endif %}

    {% if not room_types %}
        <div class="bg-light w-75 p-3">
            <div class="alert alert-warning" role="alert">
                No room types available. 
            </div>
        </div>
    
    {% else %}
        <!-- Room types table -->
        {% include 'manager/table_room_types.html' with room_types=room_types hotel=hotel %}
        
    {% endif %}
</div>

{% endblock %}

{% block script %}
<script src="{% static 'manager/room_type.js' %}"></script>
{% endblock %}