<!-- uses hotel object and floors queryset -->
{% load static %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th class="align-middle col-md-1" scope="col">#</th>
        <th class="align-middle col-md-1" scope="col">Name</th>
        <th class="align-middle" scope="col">Description</th>
        <th class="align-middle text-center col-md-1" scope="col">Move <br> Up/Down</th>
        <th class="align-middle text-center col-md-1" scope="col">Edit</th>
        <th class="align-middle text-center col-md-1" scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for floor in floors %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ floor.name }}</td>
                <td>{{ floor.description }}</td>
                <td style="text-align: center;">
                    <div>
                        <a href="javascript:void(0);"><i data-floor="{{floor.id}}" data-direction="up" class="bi bi-caret-up floor-move"></i></a>
                    </div>
                    <div>
                        <a href="javascript:void(0);"><i data-floor="{{floor.id}}" data-direction="down" class="bi bi-caret-down floor-move"></i></a>
                    </div>
                </td>
                <td style="text-align: center;" class="align-middle">
                    <a href="{% url 'manager:floor_edit' hotel_id=hotel.id pk=floor.id %}"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td style="text-align: center;" class="align-middle">
                    <!-- <a href="javascript:void(0);"><i data-floor="{{floor.id}}" class="bi bi-trash floor-delete"></i></a> -->
                    <a href="javascript:void(0);"><i data-floor="{{floor.id}}" class="bi bi-trash" hx-post="floor_manager/del/{{floor.id}}" hx-target="#table_floors_div" hx-trigger="click" hx-swap="innerHTML"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'manager/floor_manager.js' %}"></script>
