<!-- uses hotel object and room_types queryset -->
{% load static %}
<div class="bg-light w-75 p-3 animate-table" id="table_room_types_div">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle col-md-1" scope="col">#</th>
            <th class="align-middle col-md-2" scope="col">Title</th>
            <th class="align-middle" scope="col">Description</th>
            <th class="align-middle text-center col-md-1" scope="col">Capacity</th>
            <th class="align-middle text-center col-md-1" scope="col">Edit</th>
            <th class="align-middle text-center col-md-1" scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for room_type in room_types %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ room_type.title }}</td>
                    <td>{{ room_type.description }}</td>
                    <td>{{room_type.get_capacity}}</td>
                    <td style="text-align: center;" class="align-middle">
                        <a href="{% url 'manager:room_types_edit' hotel_id=hotel.id pk=room_type.id %}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td style="text-align: center;" class="align-middle">
                        <a href="javascript:void(0);">
                            <i data-floor="{{room_type.id}}" 
                                class="bi bi-trash" 
                                hx-post="room_types/del/{{room_type.id}}" 
                                hx-target="#table_room_types_div" 
                                hx-trigger="confirmed" 
                                hx-swap="outerHTML swap:100ms"
                                _="on click 
                                    call Swal.fire({title: 'Confirm', text: 'Are you sure you want to delete the room type?'})
                                    if result.isConfirmed trigger confirmed"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
